[2020-10-06 10:15] fadeev opened #3 "Custom value for --address-prefix breaks sign in"
`starport app github.com/foo/bar --address-prefix=foo` breaks the frontend.

[2020-10-06 11:12] fadeev opened #5 "Display an error message in the "type form" component"
Right now the spinner keeps spinning even after the request failed.

[2020-10-06 11:13] #3 closed

[2020-10-06 21:55] lukitsbrian opened #7 "Edit and delete in the UI"
Enable editing and deleting items in the UI.

Editing could redirect to a separate page/open a modal/replace the content with the JSON text field, similar to what exists for creating a field.
Deleting could have an `x` in the corner and once clicked, pops up a confirmation modal that asks "Are you sure you want to delete this item?"

[2020-10-06 22:03] lukitsbrian commented on #5
A [snackbar](https://vuetifyjs.com/en/components/snackbars/) component might be useful for general-purpose error handling and reusability.

[2020-10-14 11:43] webmaster128 opened #15 "Upgrade CosmJS to ^0.23"
With CosmJS `^0.23` you get
- full support for CosmWasm 0.11
- prepare for signing with Ledger and Keplr

Important interface changes for you:
- Everything that was called "post" before is now called "broadcast"
- `Secp256k1Wallet` was renamed to `Secp256k1HdWallet`

The full changelog is here: https://github.com/CosmWasm/cosmjs/blob/master/CHANGELOG.md#0230-2020-10-09

[2020-10-26 06:18] #15 closed

[2020-11-02 14:31] vince19972 opened #22 "Consistent coding style"
### Description:

We have different coding styles now. Installing a [eslint-plugin-vue](https://github.com/vuejs/eslint-plugin-vue) will be helpful for future maintenance between developers.

[2020-11-02 14:46] vince19972 opened #23 "Better store modules management and structure"
### Description

The modules in `vuex` store is very important for this library because - 1) The `actions` are the public APIs for developers, and 2) We want to make the code easy to understand for developers customizing the components on their own. To achieve these goals, following improvements can be made:

### Tasks
- [ ] Have consensus on the structure of vuex modules
- [x] Test gRPC
- [x] Sli

[2020-11-02 14:54] vince19972 opened #24 "Shared library styles"
### Description

Quick research and experiment on the best way to include our shared stylesheets, either including the `main.css` file globally or component by component. The decision should be made based on the performance of the option.

[2020-11-02 14:55] vince19972 opened #25 "Unify DevTools UI and Scaffold UI styles"
### Descriptions

Integrate the styles between DevTools UI and Scaffold UI.

[2020-11-02 19:30] #22 closed

[2020-11-02 19:58] vince19972 commented on #23
Hey @fadeev , do you have any suggestions for organizing `bank` and `module` modules in `ui/develop` branch?

For `bank` module, we can either extract the part related to account matters into a `account` module, or keeping them together with a better name.

About `module` module, my intention was to keep everything related to customized types here; does this make sense? If it does, I'm sure a bett

[2020-11-03 06:18] fadeev commented on #23
Ideally, Vuex store API and structure should resemble the blockchain's API.

[2020-11-03 14:28] vince19972 commented on #23
You mean like Cosmos and Tendermint RPC REST endpoints? If so, would modules with namespaces make more sense? For example, `cosmos/txs/{hash}`.

[2020-11-03 14:42] fadeev commented on #23
I was thinking more gRPC. Not a fan of `v1beta1`, and we need first to build gRPC for JS to actually see the API.

[2020-11-03 14:57] vince19972 commented on #23
I see. Hmmm I guess it's true that `v1beta1` is not very friendly for devs like me to use, but following the pattern of which should be fine for our purpose here?

[2020-11-03 16:45] fadeev commented on #23
@vince19972 to figure this out I suggest we try using gRPC from JS even before CosmJS, for example by decoding the data from WebSockets.

[2020-11-03 17:53] vince19972 commented on #24
I've tried including the `main.css` file globally and component by component. The results of importing the file component by component are 1) it performs almost identical with the global approach, and 2) it doesn't import the identical files repeatedly.

So I think we can import them component by component.

[2020-11-03 17:53] #24 closed

[2020-11-06 18:41] faddat opened #29 "js-ipfs"
**js-ipfs**

Is a fairly weighty browser-based "ipfs node in your web browser".

I've played with it some and I think it is decent/stable.  Basically in our context I'd want to use it to be able to retrieve CIDs stored in -- just for example:

[code]

where image contains a cid

It would probably end up in these places:

https://github.com/tendermint/vue/blob/develop/package.json

And then in a co

[2020-11-06 18:50] fadeev commented on #29
Most likely `js-ipfs` should be imported inside the component that uses it OR if `js-ipfs` deals with fetching/sending data, then inside a Vuex store.

[2020-11-09 23:37] vince19972 opened #30 "Error on querying unsuccessful tx"
Note: This is not an issue resolvable in this repo. It's just documented here for further discussion.

### Description
A failed tx can't be found in the chain in Stargate version.

![Screen Shot 2020-11-09 at 2 51 32 PM](https://user-images.githubusercontent.com/14227221/98608067-73f9a700-22b8-11eb-85c7-9548651c9712.png)

### Details

**Cmd used to create tx**
[code]
**Returned result after tx cre

[2020-11-10 06:43] fadeev commented on #30
That's the correct behavior that can be observed both on Launchpad and Stargate.

When tx fails due to lack of funds (when a user sends more than they have), tx is registered on-chain. When tx fails due to "insufficient funds" for fees, it fails a "basic check" and is not included in the block.

[2020-11-10 13:09] vince19972 commented on #30
@fadeev I see. But in Launchpad, after a failed tx is created, you can query it with tx hash, and getting this response:

[code]

This is why block explorers can display failed txs, I suppose? Without the ability to query it, we can't display the failed ones.

[2020-11-10 13:24] fadeev commented on #30
@vince19972 here is a failed tx on Stargate. It's possible to query for this tx, because it has failed due to a lack of funds for transfer. If it had failed due to a lack of funds _for fees_, it wouldn't have been possible to query for it.

<img width="1529" alt="Screenshot 2020-11-10 at 18 22 47" src="https://user-images.githubusercontent.com/332151/98679392-c226ad00-2381-11eb-809b-2a024321bf0b.p

[2020-11-10 13:35] vince19972 commented on #30
@fadeev Ahhh I see. Thanks for clearing up 🙏

[2020-11-10 14:00] #30 closed

[2020-11-10 17:19] vince19972 opened #32 "Use Inter Var as primary font-family choice"
### Description
- Import with `@import url('https://rsms.me/inter/inter.css')`
- Use `Inter` as primary fallback font

[2020-11-10 17:24] fadeev commented on #32
Yep! We can also consider fonts.google.com

[2020-11-12 22:26] vince19972 commented on #23
Mapping `vuex` store modules's data structure with `proto` files is a bigger scale task to work on. We can create another issue to discuss the topic.

[2020-11-12 22:26] #23 closed

[2020-11-12 22:32] vince19972 opened #34 "[gRPC] Sync up with latest GetTx rpc service"
### Description

SDK just integrated [TxResponse](https://github.com/cosmos/cosmos-sdk/blob/master/proto/cosmos/tx/v1beta1/service.proto#L76) into the `GetTxResponse` from gRPC gateway 🎉 . We should abandon the temporary approach of combining two endpoints (#31) whenever we could.

### Todo
- [ ] Wait for SDK's release with this update
- [ ] Wait for Starport to upgrade SDK version
- [ ] Revise tx

[2020-11-12 22:32] vince19972 commented on #34
@fadeev @ilgooz  👆

[2020-11-13 06:58] ilgooz commented on #34
tracked by https://github.com/tendermint/starport/pull/412.

[2020-11-13 13:28] vince19972 commented on #34
@ilgooz Yes that's no problem at all!

[2020-11-14 15:21] #32 closed

[2020-11-17 20:05] vince19972 opened #38 "Tendermint version number missing"
### Brief Description

Tendermint version number is missing from `:26657/status` response, which is raised as [an issue here](https://github.com/cosmos/cosmos-sdk/issues/7963). This blocks the `signAndBroadcast` function in `@cosmjs/stargate` from working properly. From the [comment in the source code](https://github.com/cosmos/cosmjs/blob/master/packages/tendermint-rpc/src/v0-33/responses.ts#L505

[2020-11-17 20:09] webmaster128 commented on #38
We added this dirty hack, which became necessary when changing the backend from rc2 to rc3: https://github.com/cosmos/cosmjs/pull/536/commits/ae1f2e28a0da44e6a9f8c448465e26997c69d107

[2020-11-17 20:12] vince19972 commented on #38
Thanks @webmaster128! I'll upgrade the package and give it a try later.

[2020-11-17 20:13] webmaster128 commented on #38
This is not yet released. Can create a release for you if it helps.

[2020-11-17 20:33] webmaster128 commented on #38
Published 0.24.0-alpha.8 now, which includes the workaround necessary to connect to rc3.

[2020-11-17 21:02] vince19972 opened #39 "Account number affects tx creation"
### Short Description

An account with `account_number: 0` can't create a tx. On the other hand, account with  `account_number: 1` creates a tx without a problem.

### Environment

This issue was found while creating a tx by using `SignAndBroadcast` function from CosmJS ([v0.24.0-alpha.8](https://github.com/cosmos/cosmjs/releases/tag/v0.24.0-alpha.8)) in a chain generated by `Starport`. To replica

[2020-11-17 21:04] vince19972 commented on #39
@ilgooz @ltacker @fadeev 👆

[2020-11-17 21:04] vince19972 commented on #38
@webmaster128 it's working! Thanks for helping out!

[2020-11-17 21:08] fadeev commented on #39
I'd need to look more into the first issue, as for the second: balances are consistent, because stake has been, well, staked by this account with a validation. Basically, all of these tokens were deposited to a validator.

[2020-11-17 21:27] webmaster128 commented on #38
@vince19972 my pleasure, enjoy

[2021-01-09 00:10] emperorjm opened #46 "Unregistered type url: undefined"
I have the Cosmos SDK v0.39.2 working perfectly but now am testing out the Stargate version of Cosmos SDK 0.40.0-rc3 using tendermint/vue v0.1.12 in my frontend app but I am receiving the following error when trying to execute a REST API route to create a new Type:

[code]

The API route is called using the following:

`axios.post(API + '/financingcompany/financing_accounts', req).then(async respo

[2021-01-09 07:59] fadeev commented on #46
In Stargate browser-chain interactions work differently. Here is an example of how to do it manually:

https://gist.github.com/fadeev/a4981eff1cf3a805ef10e25313d5f2b7

[2021-01-09 16:38] emperorjm commented on #46
Thanks a lot, the code snippet works. Had to make sure the RPC service was setup as well within the backend.

[2021-01-09 16:38] #46 closed, assigned to nobody

[2021-01-10 01:34] emperorjm opened #47 "Best way to deal with Error Handling"
Within Stargate (gRPC) and Launchpad (REST) I realize that when an error is thrown a 200 success HTTP code is returned which doesn't seem to be standard practice when an error is thrown.

Within the result set I realize that a **code** is returned but I am unable to find where these codes are defined. Within Launchpad I do realize that when the error is returned from the Handler the error code ret

[2021-01-10 06:22] fadeev commented on #47
`code` within response body is returned by Tendermint and the only hard-coded value is `0`, which corresponds to `OK`:

https://docs.tendermint.com/master/spec/abci/abci.html#errors

Everything else is application-specific.

I would also like to welcome you to our developer chat, where you would be able to get answers from the larger Cosmos community: https://discord.gg/vcExX9T Issues are more for

[2021-01-10 19:06] emperorjm commented on #47
Thanks for the clarification. As suggested, I'll will take all new non-bug related queries to the discord channel.

[2021-01-10 19:06] #47 closed, assigned to nobody

[2021-01-24 22:26] faddat opened #83 "Settings component that allows customising RPC/API endpoints, etc."
<img width="996" alt="Screen Shot 2021-01-25 at 5 23 48 AM" src="https://user-images.githubusercontent.com/7142025/105645348-881f6e80-5ecd-11eb-8243-061761b32ced.png">

Select the RPC node:

<img width="1502" alt="Screen Shot 2021-01-25 at 5 24 45 AM" src="https://user-images.githubusercontent.com/7142025/105645378-b7ce7680-5ecd-11eb-9dd1-00e64b2f477f.png">

I reckon:

For now we give this the san

[2021-01-25 00:46] faddat commented on #83
https://youtu.be/B2z6uZjJ1P8

[2021-01-25 05:59] fadeev commented on #83
Yes, this will come once we update the frontend. We're working on it 🙂

[2021-01-26 15:35] faddat opened #48 "Wand Icon gives 12 word seed"
Ecosystem wide, we use a 24 word seed as standard. However, we are currently getting a 12 word seed upon clicking the wand icon.

<img width="1167" alt="Screen Shot 2021-01-26 at 10 33 41 PM" src="https://user-images.githubusercontent.com/7142025/105866464-9634d280-6026-11eb-97e3-81a7acc048ce.png">

[2021-03-07 11:50] ilgooz opened #51 "modules: fix generic components"
Here is a list of components that needs to be fixed in order to get compatible with code vuex generation:

- [x] `chain/` and variants cannot be assumed to be exists for every module. A different path can be configred by Starport or user in `config.yml`: https://github.com/tendermint/vue/blob/db8466780ca799a6de215e94da789cc3a7ecb6e2/packages/vue/src/components/SpTypeForm/SpTypeForm.vue#L132
- [x]

[2021-03-12 12:13] ft-thor opened #52 "Issue with VUE_APP_CUSTOM_URL"
There is an issue with VUE_APP_CUSTOM_URL, instead of reading from .env file it always set to localhost:12345.
The SpBlockExplorer isn't working with live domain, it works with the localhost:12345 only

Please check the code.

https://github.com/tendermint/vue/blob/2e84ecf851d8ef21c850166ea1293cefa74bee64/src/store/env.js#L33

[2021-03-16 12:50] #48 closed, assigned to nobody

[2021-03-16 15:50] clockworkgr commented on #51
As discussed, type form / type list components are for starport-scaffolded CRUD types only at this time which do include all of the above.

[2021-03-16 15:50] #51 closed, assigned to nobody

[2021-03-19 09:51] fadeev opened #56 "Changing address prefix doesn't work"
[code]

Still shows `cosmos` in UI.

[2021-03-19 10:07] clockworkgr commented on #56
a) it's addrPrefix
b) If you're using the starport module (default) , it reconfigures itself for nodes from the :12345/status endpoint and also picks up prefix from the env variables set by starport: VUE_APP_ADDRESS_PREFIX

[2021-03-19 10:18] fadeev commented on #56
Yes, my mistake, used `addrPrefix`, still can't see the change.

[2021-03-19 10:22] clockworkgr commented on #56
Does starport set VUE_APP_ADDRESS_PREFIX properly? can you comment out starport(store) from config.js and try again?

[2021-03-19 10:27] clockworkgr commented on #56
ah....spotted it, fixed in: https://github.com/tendermint/vue/commit/4c6ffd37c3b84b0b7a57299832496f2c56961089

[2021-03-20 16:30] fadeev commented on #56
@clockworkgr on `@starport/vue` `0.1.32` the prefix now doesn't get added at all. Can't seem to be able to use the app. `0.1.31` looks fine.

<img width="803" alt="Screenshot 2021-03-20 at 21 29 02" src="https://user-images.githubusercontent.com/332151/111877097-776a1100-89c3-11eb-833b-0c074c026bda.png">

[2021-03-28 16:09] fadeev commented on #39
No longer relevant.

[2021-03-28 16:09] #39 closed

[2021-03-30 11:11] clockworkgr commented on #56
Fixed in https://github.com/tendermint/vue/tree/v0.1.37

[2021-03-30 11:11] #56 closed, assigned to nobody

[2021-03-30 11:25] clockworkgr commented on #7
No longer relevant (and new UI does have edit/delete modals)

[2021-03-30 11:25] #7 closed

[2021-03-30 15:40] fadeev commented on #34
Not relevant anymore.

[2021-03-30 15:40] #34 closed

[2021-03-30 15:41] fadeev commented on #38
Pretty sure this is no longer relevant.

[2021-03-30 15:41] #38 closed

[2021-03-30 15:43] fadeev commented on #29
I think this is a bit out of scope of Starport Interface.

[2021-03-30 15:43] #29 closed

[2021-03-30 15:44] fadeev commented on #25
We'll be moving away from "DevTools UI" (aka the Welcome screen), so this is no longer relevant.

[2021-03-30 15:48] fadeev commented on #52
The structure of the Vuex store has changed since then. We still need to sort out where API endpoints should come from (`.env`, env variables, etc.). We'll create a new issue for that.

[2021-03-30 15:48] #52 closed, assigned to nobody

[2021-03-30 16:27] webmaster128 commented on #38
Right. CosmJS now has a Tendermint34Client which avoids the unreliable Tendermint version check. This is used in all higher level Stargate clients.

[2021-03-31 06:38] fadeev opened #65 "Add GH action to publish on npm on merge into master"
Publishing should be done automatically.

[2021-03-31 10:55] fadeev opened #66 "Move away from using `:12345/status` endpoint"
Data should be fetched from publicly accessible APIs, like 1317, 26657, etc.

[2021-03-31 10:59] fadeev opened #67 "Frontend doesn't start on v0.15"
Using v0.15 on Gitpod:

https://gitpod.io/#https://github.com/tendermint/starport/tree/master

[code]

[code]

[code]

[2021-03-31 15:35] #67 closed, assigned to clockworkgr

[2021-03-31 18:38] clockworkgr commented on #66
should we retire this from the vue components regardless of when we retire the endpoint altogether?

[2021-03-31 18:41] fadeev commented on #66
Yes, I think we can remove it from our Vue/Vuex components first and then disable it in Starport.

[2021-03-31 18:42] clockworkgr commented on #66
ok...suits me just fine ...it was annoying to handle :)

[2021-03-31 18:54] fadeev opened #69 "style: remove horizontal bar, when account dropdown is collapsed"
<img width="739" alt="Screenshot 2021-03-31 at 23 53 04" src="https://user-images.githubusercontent.com/332151/113195976-5e434900-927c-11eb-8c93-18058d844fc8.png">

[2021-03-31 19:00] fadeev opened #70 "Find a better way to test PRs"
Right now for me to test out PRs I need to fetch, npm link, scaffold, etc. Having a version of the frontend deployed somewhere like Netlify with one click to preview from PR would be a timesaver.

[2021-03-31 19:12] clockworkgr commented on #70
Yeah it's annoying....let me think of a way to automate it....It doesn't help that the PRs to test are usually tied to a tendermint/starport PR as well

[2021-04-01 10:37] clockworkgr commented on #66
Done in: https://github.com/tendermint/vue/pull/64/commits/70802681c92107cfe6848e6cfd20ed6c57e2b919

[2021-04-01 11:15] clockworkgr commented on #69
fixed in https://github.com/tendermint/vue/pull/64/commits/47c49e29367a290d7a71f14611ecf2e6a2a867ab

[2021-04-01 18:18] clockworkgr commented on #70
Will probably be handled by https://github.com/tendermint/starport/issues/943 for now

[2021-04-01 18:20] clockworkgr commented on #65
Once we get some more stability and are on a more of a "feature" release cycle rather than architectural changes and bug-fixing (which we're still doing now) sure.

[2021-04-02 09:04] clockworkgr commented on #70
Completed in https://github.com/tendermint/starport/pull/944

[2021-04-02 09:04] #70 closed, assigned to nobody

[2021-04-02 09:04] #69 closed, assigned to nobody

[2021-04-02 09:11] fadeev opened #71 "Small fixes here and there"
- [x] Prevent user from deleting last token. This shouldn't happen:

<img width="705" alt="Screenshot 2021-04-02 at 14 08 34" src="https://user-images.githubusercontent.com/332151/113401565-02cca480-93bd-11eb-853f-93ffea945c3a.png">

- [x] Add a shadow to the hamburger circle button
- [x] Try sending tokens when the backend is not available (or becomes unavailable). Send tokens button spins foreve

[2021-04-02 09:57] clockworkgr commented on #71
https://github.com/tendermint/vue/pull/64/commits/284fc671b05d637cb18830705dd580833f31ce9f

https://github.com/tendermint/vue/pull/64/commits/b98317c4eef65bc739a25e684736076c662ae02e

https://github.com/tendermint/vue/pull/64/commits/ca296d0ce64d78ba031e400e22fbc5eb5c6f4411

:)

[2021-04-02 10:17] fadeev commented on #71
- [x] prevent users from adding the same denom endlessly (in this case a user only has `10token` in total)

<img width="658" alt="Screenshot 2021-04-02 at 15 12 21" src="https://user-images.githubusercontent.com/332151/113407057-057fc780-93c6-11eb-9add-60bf50e4357f.png">

- [x] disable button, unless the form looks like it can be submitted (basic validation): address should be there, token values

[2021-04-02 13:37] clockworkgr commented on #71
1 and 3 done in https://github.com/tendermint/vue/pull/64/commits/d47309cd3eeb3c6b2152b7017bbd07d35572e900

[2021-04-02 14:25] clockworkgr commented on #71
2 done on https://github.com/tendermint/vue/pull/64/commits/1dd36a3ee499f43972fac572d113402ba0241cea

(if this is ok as well I'll go ahead and merge that PR)

[2021-04-02 14:45] fadeev commented on #71
@clockworkgr For some reason, it prevents me from sending tokens. On `master`, on GP.

<img width="1589" alt="Screenshot 2021-04-02 at 19 33 22" src="https://user-images.githubusercontent.com/332151/113425638-ab91f880-93eb-11eb-9640-d1be5f158c4a.png">

Maybe it's just me, but could you try going through the process yourself to see if it works properly? Creating a chain, signing in with Alice's acc

[2021-04-02 14:46] clockworkgr commented on #71
Does sending fail? Or is the button actually disabled?

[2021-04-02 15:00] clockworkgr commented on #71
fixed in https://github.com/tendermint/vue/pull/64/commits/d781745ab98a4d52ae793706a608bc7aba6ac835

[2021-04-02 15:01] #71 closed, assigned to nobody

[2021-04-02 15:01] #66 closed, assigned to nobody

[2021-04-02 15:31] #5 closed

[2021-04-04 19:58] 0xb4rt opened #75 "View transactions sent to my own address"
**Expected Behavior**

Maybe display a new "status" for these cases or just one of them (`Sent` or `Received`).

**Actual Behavior**

![Captura de Tela 2021-04-04 às 16 12 55](https://user-images.githubusercontent.com/68613335/113519928-eae45480-9565-11eb-851f-16f7ad4f335e.png)

[2021-04-05 04:02] fadeev commented on #75
@0xb4rt good catch! Yes, if a user sends to themselves, we may need to show transaction rows: both "Sent to" and "Received from".

[2021-04-06 19:34] webmaster128 opened #78 "Use sha256 from @cosmjs/crypto"
There are two places where `sha256` is used:

[code]

and

[code]

Both can be replaces with `import { sha256 } from "@cosmjs/crypto";`:

[code]

and

[code]

which has a few advantages:

- Less dependencies because @cosmjs/crypto is in the dependency tree anyways (js-sha256 was updated in 2017)
- No need for Buffer inputs (which is not really a JS type but a Node.js type)
- The resulting hash is

[2021-04-06 19:55] clockworkgr commented on #78
Thanks for the heads up. A lot of the code re: relaying as well as other parts was written with a  tight deadline to get something working so needs some polish.  Been refactoring stuff  for a couple of days now including porting the component library over to TS so will def be taking your suggestions.

[2021-04-09 09:21] lukitsbrian opened #82 "Admin UI"
It would be useful to have a dedicated Admin UI (eg. at `localhost:8080/admin`), similar to Django's admin site.

This page could contain links to existing types (eg. `localhost:8080/admin/<type>`) and provide an auto-generated interface for creating/list/get/edit/deleting items, or whichever actions are relevant for the specific type.

For instance, currently `localhost:8080` has an interface tha

[2021-04-09 09:22] fadeev commented on #82
This is a good idea. We do need a SPI component that lists all the data available through API endpoints and shows this data in a table. Sort of like Vuex dev tools.

[2021-04-09 11:09] clockworkgr commented on #83
Vuex already supports this.. just a question of adding the selection dropdown

[2021-04-14 10:40] clockworkgr commented on #78
Done in https://github.com/tendermint/vue/tree/v0.1.44

[2021-04-14 10:40] #78 closed, assigned to nobody

[2021-04-14 10:40] clockworkgr commented on #65
Publishing done from: https://github.com/tendermint/vue/actions (patch/minor/major options)

[2021-04-14 10:40] #65 closed, assigned to nobody

[2021-04-15 21:46] clockworkgr opened #91 "Investigate switching to vite"
https://vitejs.dev/guide/why.html

Seems to be faster and uses rollup instead of webpack.

[2021-04-22 20:23] clockworkgr commented on #91
Unfortunately although vite is super cool and speedy, it only works with ESM code. That means that all deps must be ESM modules...protobufjs isn't.

Will keep investigating but I don't think I'll be able to get it to work.

[2021-05-31 13:49] fadeev opened #110 "Fix asset list balance updating"
Asset list not updating on new block. Might make sense to query balances on every block to make sure they're up-to-date.

<img width="519" alt="Screenshot_2021-05-30_at_23 05 31" src="https://user-images.githubusercontent.com/332151/120203156-d9a38580-c240-11eb-9493-a4ec98c10bbe.png">

[2021-06-01 09:50] clockworkgr commented on #110
Fixed in: https://github.com/tendermint/vue/pull/111

Will close when merged and published

[2021-07-29 06:22] Osub commented on #83
me too

[2021-07-31 08:34] shapkarin opened #113 "Components overview, documentation and isolation (storybook)"
I think it may be helpful to add [storybook](https://github.com/storybookjs/storybook). Benefits:
- To see all components in interactive way
- To get some kind of docs for the components
- Will help to build more isolated components and decompose the existing. To get more reusable components as the result.

[2021-08-01 10:32] shapkarin commented on #113
I opened the PR, it mentioned above.
Later it can be combined with `Vuex store` and `Vue docgen`.
PR has no `webpack aliases` setup, [that config](https://github.com/tendermint/vue/blob/c88c38c32990e331250af1ffb53c9a13a96141e0/packages/template/.storybook/main.js#L13-L20) does not work as expected.

[2021-08-12 15:16] shapkarin opened #115 "Do not publish all files to the npm (add .npmignore)"
Hello. Maybe it will be better to add `.npmignore` and write `src`, `.eslintrc.js` and other. That can reduce the package size. Not sure if someone need and use modules directly from `./src` folder.

Docs: https://npm.github.io/publishing-pkgs-docs/publishing/the-npmignore-file.html

If you want to check a result before publishing you can run `npm pack`. It will generate an archive {PACKAGE_NAME}-

[2021-08-16 03:32] #115 closed, assigned to nobody

[2021-08-16 03:50] fadeev commented on #110
Fixed, apparently.

[2021-08-16 03:50] #110 closed, assigned to nobody

[2021-08-16 03:51] #113 closed, assigned to nobody

[2021-08-29 20:37] cmwaters opened #118 "Trouble installing dependencies"
I'm trying to use the template package but when I try to run `npm install` I get the following long error log: https://gist.github.com/cmwaters/a9cedd3fc9bb92b33bf2595f4e1a5c14

Is anyone able to tell me what I might be doing wrong?

[2021-08-30 06:43] fadeev commented on #118
Error in building native extensions for `node-sass`. Not sure what the exact error is yet.

[2021-08-31 15:18] cmwaters commented on #118
Did you make any progress on the error. Could it be that I have something globally installed (not installed) that is affecting it?

[2021-09-19 09:58] shapkarin commented on #118
# Just switch to the node v14.17.6

@cmwaters in past I got the same problem and find out that `node version` should be in sync with `node-sass version`.
Here is the [Node version support policy](https://github.com/sass/node-sass#node-version-support-policy)

@starport/vue uses [node-sass ^4.12.0](https://github.com/tendermint/vue/blob/210bee8ef53fc92938682e687ff7ef30d1be5939/packages/vue/package.

[2021-09-19 10:43] shapkarin opened #119 "What the propose of master branch"
It doesn't looks like `master` branch is maintainable.
The last update was at `20 Dec 2020` and the repo structure is much different with the `develop` branch.
The current develop branch is default and it's monorepo with several packages.

[2021-09-19 19:30] cmwaters commented on #118
Thanks @shapkarin!

[2021-09-20 01:16] shapkarin commented on #118
@cmwaters I hope the my PR will improve DX and remove such problem. A few months ago I faced the same issue and I'm bet that not the only me and you got this obscure error.

[2021-09-22 10:57] mojtaba-esk commented on #118
Using `node v14.17.6` was better but faced this error:

[code]

After searching, I found out if I downgrade sass-loader to version `^10.2.0`, it works fine for me.

[2021-09-22 12:59] shapkarin commented on #118
I think that all kind of dependencies should be updated, especially devDependencies. But you still can get the list of deprecated dependecies using @vue/cli@latest (4.5.13) and node@v16. devDependencies that are generated with the lasets vue and @vue/cli has the same problem as well. It may be not so necessary fro the production build, but makes yours dev environment dangerous or incompatible.
May

[2021-09-23 11:01] shapkarin commented on #118
In my env @vue/cli beta is only one cli that works fine without any warnings

[2021-09-30 17:21] shapkarin commented on #118
To change my environment a bit helped to use stable @vue/cli 4.5.13. And according to the current issue, I'm still think that it's nice to have more informative warnings about the stack compatibility.

[2021-10-19 10:11] Orijhins opened #124 "Problem with prettier"
When scaffolding the "blog" chain, the vue folder has a problem with prettier. When trying to compile, run or any other npm command, I get
[code]

[2021-10-19 10:34] Orijhins commented on #124
Oddly enough, it seems to compile with yarn...

[2021-10-25 11:55] fadeev opened #125 "this.$store.getters.cosmos.staking.v1beta1/getParams is not a function"
[code]

From Discord.

[2021-10-25 12:14] fadeev opened #126 "Consider removing node-sass"

[2021-10-25 13:08] clockworkgr commented on #125
`this.$store.getters['cosmos.staking.v1beta1/getParams'] ` iirc

[2021-10-25 13:33] clockworkgr commented on #126
was removed in https://github.com/tendermint/vue/pull/123

[2021-10-25 16:10] berelton commented on #125
![image](https://user-images.githubusercontent.com/93058200/138731539-396e5d64-c4e4-4c90-9f22-84b5775f8f83.png)

[2021-10-25 23:55] marinhoarthur commented on #118
@shapkarin thanks for the idea on engine-strict.

Unfortunately we can not fix node to `^14.0.0` because it would break for folks running Apple Silicon chips (node [added](https://nodejs.org/en/blog/release/v16.0.0/#toolchain-and-compiler-upgrades) support for M1 chips on `^16.0.0`)

We definitely need to upgrade/simplify all of our dependencies. We'll start a thread on how to best achieve that so

[2021-10-25 23:55] #118 closed, assigned to nobody

[2021-10-26 00:26] marinhoarthur commented on #126
Thanks @clockworkgr!

Maybe we could even remove `sass` completely (do we really need it?). But let's leave this thread for another moment.

[2021-10-26 00:26] #126 closed, assigned to marinhoarthur

[2021-10-26 00:29] marinhoarthur commented on #125
Hi @berelton

Could you share a print of your `vue/src/store/generate` folder (i.e. the content of `generated`)?

[2021-10-26 00:32] marinhoarthur commented on #119
Hi @shapkarin!

We have been pretty busy lately.

We'll do some house cleaning in the coming weeks (including `main` branch). Thanks for highlighting this!

[2021-10-26 01:36] TrashCoder96 commented on #125
Hello, i got the same errors. This is my generated folder:
[generated.zip](https://github.com/tendermint/vue/files/7414418/generated.zip)

index.ts
[code]
package.json
[code]

[2021-10-26 07:40] clockworkgr commented on #126
erm..yeah, we do :)

[2021-10-26 07:41] clockworkgr commented on #125
@ilgooz @fadeev  it seems like the scaffolding clears the `store/generated/cosmos` folder downloaded along with the template and doesn't rebuild it

[2021-10-26 07:42] clockworkgr commented on #124
It should be ok with the updated deps merged in https://github.com/tendermint/vue/pull/123 (will be on the next release)

[2021-10-26 07:51] Orijhins commented on #124
Great, thank you ! I'll close it once the release rolls out

[2021-10-26 09:13] berelton commented on #125
@marinhoarthur I have same content as @TrashCoder96 showed

do you have some temporary workaround?

[2021-10-26 10:24] clockworkgr commented on #125
running `starport chain serve` with the `--proto-all-modules` flag may work I think

[2021-10-26 22:08] berelton commented on #125
this does not help :(

[2021-10-27 11:41] marinhoarthur commented on #125
@berelton @TrashCoder96 we're currently investigating this and will post any updates here.

FYI this is the root [issue](https://github.com/tendermint/starport/issues/1725).

I'll be following up this closely so that it's fixed asap.

[2021-10-29 11:59] marinhoarthur commented on #125
There is a new [release](https://github.com/tendermint/starport/releases/tag/v0.18.2) patching this. Please [upgrade](https://docs.starport.com/guide/install.html#upgrading-your-starport-installation) your Starport to `v0.18.2`

Let us know how that works out.

@berelton @TrashCoder96

[2021-10-29 12:08] #125 closed, assigned to marinhoarthur

[2021-11-01 08:29] fadeev opened #127 "`invalid address: invalid Bech32 prefix` with custom prefix"
http://localhost:1317/cosmos/bank/v1beta1/balances/cosmos1eqjyq025gwwh5xnzjyu27n68u8cepczkvvedv5

[code]

[code]

Question from Discord.

cc @marinhoarthur @Matthews3301

[2021-11-01 08:41] berelton commented on #127
This is how I create the chain:

[code]

[2021-11-01 11:13] clockworkgr commented on #127
@berelton which starport version are you using?

also, it seems you copied `.env.spn` to `.env` and changed the address prefix

You should adjust the other variables in your own .env file as well.

Assuming the scaffolding command above (`starport scaffold chain github.com/hello/planet --address-prefix test`) and running `starport chain serve` in a local setup, your `.env` file should look like:

[2021-11-01 20:08] berelton commented on #127
thanks, that works!

But if I modify the name of token from `token` and `stake` to something similar to [this](https://github.com/zenchainprotocol/zenchain/blob/dev/config.yml), keplr wallet is unusable, I don't see any balance, cannot send it. From vue app it works fine.

Also I cannot find anything in doc how to "connect" the full value (like satoshi) to float value (like bitcoin). ANy reference

[2021-11-01 20:14] berelton commented on #127
Also is there any documentation about how `config.yml` can look like, what params are expected?

[2021-11-01 20:18] clockworkgr commented on #127
When you first launch the frontend for  chain `planet` (or whatever you've named it) , when you try to connect to Keplr you should get a prompt to add chain `planet` to Keplr (using keplr's experimentalSuggestChain feature)

This includes information about the chain's denoms, staking denom, cointype , prefixes etc etc. (see relevant code here: https://github.com/tendermint/vue/blob/develop/package

[2021-11-01 20:18] clockworkgr commented on #127
that's a question for https://github.com/tendermint/starport, @ilgooz / @fadeev  ?

[2021-11-01 20:25] berelton commented on #127
Thanks! that was the issue. And How I can specify kepler to understand decimals?

[2021-11-01 20:36] clockworkgr commented on #127
that's actually a client/display issue...as far as the chain is concerned, only the base_denom exists..

You need to modify the call to experimentalSuggestChain.

You can call it somewhere else in your frontend prior to the call by SpWalletCreate above so it doesnt get overwritten.

Note the following lines:

https://github.com/tendermint/vue/blob/develop/packages/vue/src/components/SpWalletCreate

[2021-11-02 14:40] fadeev commented on #127
@berelton

https://docs.starport.com/kb/config.html

[2021-11-08 07:23] fadeev opened #128 "Signing transactions with Keplr error"
[code]

![unknown](https://user-images.githubusercontent.com/332151/140699893-f76a7cb4-8054-4250-916f-68a6f980761e.png)

[code]

cc @daniel-farina

[2021-11-08 08:20] daniel-farina commented on #128
I'm adding more details here to reproduce the issue. I'm adding some seed phrases for the team to test it. This is fine as this chain will get deleted.

This is an out of the box vue app from starport.

The .env for the VUE app is:

[code]

## What works
Sending from bash works without any issues:

Chain-id: alien

[code]
Also sending from the Vuejs's native wallet works perfectly.

## The error -

[2021-11-08 23:56] masterfung opened #129 "Cannot run Vue Installation on MacOS 12.0.x"
**Describe the bug**
There seem to be massive amounts of issues when I run `npm install` after the scaffolding has been done by the Starport

**To Reproduce**
Steps to reproduce the behavior:
1. I followed the starport voting tutorial on Starport
2. When I ran npm install, the errors I got were:
[code]

**Please provide the version output**
 - `starport version`: 0.18.3

[2021-11-09 16:56] marinhoarthur commented on #129
Hi @masterfung

Can you confirm your `node version` and mac chip architecture (m1 x Intel) please?

[2021-11-10 12:51] marinhoarthur commented on #128
We'll be experimenting with `no-legacy-stdTx` in [here](https://github.com/tendermint/vue/blob/66025e2ddb5e4c39c8d5f5f639104c25cab1a906/packages/vue/src/components/SpWalletCreate/SpWalletCreate.vue#L306)

As soon as we have updates on this, will be posted here.

cc @daniel-farina

[2021-11-10 15:35] daniel-farina commented on #128
Great,
I was just testing that last night based on [167](https://github.com/chainapsis/keplr-extension/issues/167).

You should be able to use the .env above and run the vue locally against the testing chain we made.

Thank you

[2021-11-12 12:49] marinhoarthur commented on #129
We just released a new version of Starport's CLI with the newest frontend (bringing refreshed dependencies). Please [upgrade](https://docs.starport.network/guide/install.html#upgrading-your-starport-installation) your Starport Installation and test on your machine. Let's us know how it works out.

cc @masterfung

[2021-11-12 12:49] #129 closed, assigned to marinhoarthur

[2021-11-18 20:03] marinhoarthur commented on #128
Adding the `no-legacy-stdTx` flag works. We'll prepare a release of the frontend. Soon enough it's deployed and I'll update this issue.

[2021-11-19 17:17] daniel-farina commented on #128
Great news! We will test it on our side.

[2021-11-24 11:33] fadeev opened #132 "Create a changelog"
Similar to what Starport has:

https://github.com/tendermint/starport/blob/develop/changelog.md

[2021-11-24 11:36] marinhoarthur commented on #128
Released under [v0.1.55](https://github.com/tendermint/vue/releases/tag/v0.1.55)

**Updating your `@starport/vue` package is necessary to get the fix.**

cc @daniel-farina

[2021-11-24 11:36] #128 closed, assigned to marinhoarthur

[2021-11-24 12:00] fadeev opened #133 "ci: add semantic pull request GH action"
Helps with writing changelogs.

Starport:

https://github.com/tendermint/starport/blob/develop/.github/workflows/test-semantic.yml

[2021-11-24 12:40] shapkarin opened #134 "vuex/env mutates state outside of mutation"
when you init sign client as part of client state (by calling state.client.useSigner(signer)) you mutates the Vuex state outside of mutations and that cause errors in app.

[2021-11-24 13:22] shapkarin commented on #134
in a Vuex state strict mode

[2021-11-24 17:55] daniel-farina commented on #128
awesome job @marinhoarthur
Thank you for working with us and keeping us posted along the way.

[2021-11-25 12:04] #127 closed, assigned to nobody

[2021-11-29 11:15] marinhoarthur commented on #124
Release is out, closing...

[2021-11-29 11:15] #124 closed, assigned to nobody

[2021-11-30 09:50] fadeev opened #136 "feat: navbar component with Keplr sign-in"
<img width="1237" alt="Screenshot 2021-11-30 at 12 47 25" src="https://user-images.githubusercontent.com/332151/144024356-57b357a5-489b-497b-9f2d-ef180555841f.png">

<img width="278" alt="Screenshot 2021-11-30 at 12 47 58" src="https://user-images.githubusercontent.com/332151/144024364-a2628650-982e-4fb2-9792-9453abf72e10.png">

<img width="504" alt="Screenshot 2021-11-30 at 12 49 49" src="https:/

[2021-11-30 09:51] fadeev opened #137 "feat: general purpose modal component with an overlay"
<img width="504" alt="Screenshot 2021-11-30 at 12 49 49" src="https://user-images.githubusercontent.com/332151/144024691-7639ba90-316f-42fc-b2d7-54bff5e48afa.png">

<img width="525" alt="Screenshot 2021-11-30 at 12 51 05" src="https://user-images.githubusercontent.com/332151/144024695-4a84e924-7716-40a4-be0e-1e9590f1770e.png">

[2021-11-30 09:51] fadeev opened #138 "feat: token send component"
<img width="525" alt="Screenshot 2021-11-30 at 12 51 36" src="https://user-images.githubusercontent.com/332151/144024764-fbd822b6-b336-49f4-86b7-0bd43f649e73.png">

Depends on https://github.com/tendermint/vue/issues/137

[2021-11-30 09:52] fadeev opened #139 "feat: asset list component"
<img width="677" alt="Screenshot 2021-11-30 at 12 52 14" src="https://user-images.githubusercontent.com/332151/144024845-2bea0168-935c-46e2-8e5f-229168babba4.png">

[2021-11-30 09:54] fadeev opened #140 "feat: transaction list component"
<img width="518" alt="Screenshot 2021-11-30 at 12 54 18" src="https://user-images.githubusercontent.com/332151/144025184-0098077c-ebbc-4295-bcbb-fe118230523c.png">

[2021-11-30 11:49] #132 closed, assigned to marinhoarthur

[2021-11-30 11:49] #119 closed, assigned to nobody

[2021-12-01 16:26] marinhoarthur opened #141 "`transpileDependencies` config should be an array"
According to the [reference](https://cli.vuejs.org/config/#transpiledependencies), this property should have an array assigned to it and not a boolean as in [here](https://github.com/tendermint/vue/blob/737a3d31d450e7a969fc64fb14d289d09835e2b1/packages/vue/vue.config.js#L5) and [here](https://github.com/tendermint/vue/blob/737a3d31d450e7a969fc64fb14d289d09835e2b1/packages/template/vue.config.js#L5

[2021-12-01 16:27] marinhoarthur commented on #141
This should do the trick:

[code]

Let's test and release a patch!

[2021-12-02 05:03] 0xkaranchauhan commented on #141
I tried downgrading node to v16.13.1.
Then removed and scaffolded the checker's file again.

[2021-12-02 17:34] #141 closed, assigned to marinhoarthur

[2021-12-02 23:46] Matthews3301 commented on #137
https://github.com/tendermint/vue/pull/143

[2021-12-04 10:04] marinhoarthur opened #144 "add support for node v17"
Node v17 and above seem to be not supported. As node [latest](https://nodejs.org/en/) heads to 17, let's fix this.

![Screenshot from 2021-12-04 06-57-49](https://user-images.githubusercontent.com/3693700/144705485-8db6d2f8-7caa-40fd-b708-0ee22280571a.png)

[2021-12-06 06:29] fadeev opened #145 "Publish Storybook online"
And add new components to it.

[2021-12-06 15:24] vincadian opened #146 "Frontend ibc relayer problem"
**Describe the bug**
Front end ibc relayer is not working.
![image](https://user-images.githubusercontent.com/79286362/144872827-6cd39b8f-1f79-4ac8-87b2-a925ae391d45.png)
![image](https://user-images.githubusercontent.com/79286362/144873380-160bcfc2-ca42-48f7-8289-0135464dfb02.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Starport chain serve
2. Import Monorepo vue
3. Serve the templa

[2021-12-07 12:33] patrickwieth opened #147 "Autogenerated CosmJS Interface hardcodes gas"
The error i get is:
`index.js:883 Uncaught (in promise) TxClient:MsgSetItemString:Send: Could not broadcast Tx: Broadcasting transaction failed with code 13 (codespace: sdk). Log: invalid fee provided: null: insufficient fee`

This is because the gas fee is too low for the transaction I wanted to do. The used code was generated with starport g vuex. It is actually done with the Pylons blockchain,

[2021-12-07 19:51] vincadian opened #150 "ibc-go Issue"
![image](https://user-images.githubusercontent.com/79286362/145096090-5eb5ac39-9c1b-453f-bb20-7883ce3638c8.png)
![image](https://user-images.githubusercontent.com/79286362/145096273-03a38753-51f8-4968-9ff2-ff2c3b9b4a15.png)

Trying ibc with ping.pub but the rest api has not ibc/core/

[2021-12-08 23:18] vincadian commented on #150
I have an idea, maybe it is due to the lack of
![image](https://user-images.githubusercontent.com/79286362/145306496-d1bdb470-fecf-4919-a81f-34f3532fcc18.png)
when scaffolding a new chain

[2021-12-09 11:55] marinhoarthur commented on #91
Update on migrating to `vite`:

- `starport/vue` & `starport/vuex` already building with `vite`

- `starport/client-js` is the last missing piece. I'm really thinking of merging this package into `starport/vuex` and call it a day    😄

[2021-12-09 12:10] clockworkgr commented on #91
`starport/client-js` does not need vite as it's not a frontend related piece (technically neither is `starport/vuex` as its used as a library but it originally used webpack as it was vue-related)

You could use a simple rollup or babel config for it. Its only issue at the moment is that it's packaged as a node lib rather than a browser lib

[2021-12-09 12:35] marinhoarthur opened #151 "address not being updated on keplr account change"
Steps to reproduce:

1. Connect to Keplr
2. Open Keplr and switch account
3. Open our Wallet. The addresses do not match anymore (one from previous account, the other one from the current)

![Screen Shot 2021-12-09 at 09 31 49](https://user-images.githubusercontent.com/3693700/145397276-a9e69044-faf6-472c-bf92-619a1695f52f.png)

[2021-12-09 15:29] clockworkgr commented on #151
[code]
use that but @starport/vuex `common/wallet` also needs updating as it stores the first instance  and needs to be updated (or refactored to always query the currently  connected keplr)

[2021-12-11 08:21] whatzaruckus opened #152 "Starport Vue App fails to build"
**Describe the bug**
When doing `npm run dev` or `npm run serve` inside the `vue` folder, the build fails with no clear route to resolve.

**To Reproduce**
Steps to reproduce the behavior:
1. scaffold a new chain using OSX.
2. Run chain server `starport chain serve`
3. go to `vue` folder and run `npm install`
4. run `npm run serve` or `npm run dev`
5. Observe failed build:

 INFO  Starting develop

[2021-12-13 10:27] marinhoarthur commented on #152
Can you share your node version by running `node --version`?

[2021-12-15 06:37] batphonghan commented on #152
I got the same issue with node: `v14.18.2`. MacOS 11.6.1 M1

[2021-12-15 09:28] marinhoarthur commented on #152
@batphonghan please try using v16.x.x

[2021-12-15 12:38] marinhoarthur opened #153 "make gas price steps dynamic"
Right now we're suggesting [fixed gas price steps](https://github.com/tendermint/vue/blob/8949326f70d943ba4c136644cbfd9e44ef9052f5/packages/vue/src/components/SpWalletCreate/SpWalletCreate.vue#L355-L359)  to Keplr. Let's make these dynamic.

[2021-12-15 17:02] marinhoarthur opened #154 "unable to suggest new chain if wallet is locked"
Steps:

- chain `mars`:
-- Connect to Keplr
-- Refresh the page (so to get the wallet in "locked mode")
- chain `neptune`
-- Using the same browser, try to unlock the wallet

![Screenshot from 2021-12-15 14-01-13](https://user-images.githubusercontent.com/3693700/146231086-d39bd123-f874-47ad-ab1f-99a7ac14f4ee.png)

[2021-12-15 19:39] clockworkgr commented on #154
why is the chain suddenly different?

[2021-12-16 18:14] patrickwieth commented on #153
Nice, can't wait until this is fixed, might be connected to #147

[2021-12-16 20:37] vincadian commented on #146
Hi, is there some news concerning this bug

[2021-12-17 11:15] marinhoarthur commented on #154
In this case because multiples chain were served on the same hostname (localhost)...

But the thing is, our wallet only unlocks if running chain was already added to Keplr. Don't know if this is necessary...

[2021-12-17 11:21] marinhoarthur commented on #146
I'm currently investigating it

[2021-12-17 12:17] clockworkgr commented on #146
@vincadian is it possible you had a wallet created/stored in your browser from an earlier version of starport?

Can you nuke localStorage for the served template and try again with a newly created/imported account?

[2021-12-17 15:58] vincadian commented on #146
ok now I have this
![image](https://user-images.githubusercontent.com/79286362/146572516-34aadc57-ce84-4382-aa6f-88f519f9fdbb.png)

[2021-12-17 15:59] vincadian commented on #146
![image](https://user-images.githubusercontent.com/79286362/146572675-794de221-2aed-4f8b-8550-0f2c51e3ab4a.png)

[2021-12-17 21:57] vincadian commented on #146
![image](https://user-images.githubusercontent.com/79286362/146612715-a2b80d10-45ad-4e0d-a355-249f01cc8ab5.png)

[2021-12-17 21:58] vincadian commented on #146
![image](https://user-images.githubusercontent.com/79286362/146612762-b1dbf8bf-fd18-461b-9c13-fbb7e3db3c6c.png)

[2021-12-18 00:01] vincadian commented on #146
The problem is only for kepler wallet

[2021-12-18 03:12] whatzaruckus commented on #152
I was also using node 14. Will try with 16.

[2021-12-18 03:19] whatzaruckus commented on #152
`node --version`
v16.8.0

`npm run serve`
Starting development server...

 ERROR  Failed to compile with 1 error                               10:15:50 AM

 error  in ./src/scss/app.scss

Error: Node Sass does not yet support your current environment: OS X 64-bit with Unsupported runtime (93)
For more information on which environments are supported please see:
https://github.com/sass/node-sass/rel

[2021-12-18 03:38] whatzaruckus commented on #152
Apparently node-sass doesn't support OSX, windows, or many flavors of linux with node.js 16.  I'd like to humbly request not running bleeding-edge for everything, as it does tend to cause lots of these compatibility issues.  No OSX/windows support shuts down 90% of dev boxes.  This is particularly frustrating for Vue when we're trying to do UI work in browsers and the target customers will almost

[2021-12-18 03:42] whatzaruckus commented on #152
Or at least consistently bleeding edge. Node sass v4.14.1 is only supported up to ~14.  Need to move to Node-sass 6 in order to get support for the latest node.js

[2021-12-18 12:26] whatzaruckus commented on #152
Can we get this working with Node 14 please?  Moving to node 16 fixes one issue and unleashes a lot of other incompatibilities.  Is there really any need for 16?

[2021-12-19 04:30] whatzaruckus commented on #152
I was able to finally get things running by changing to tendermint/vue v0.1.50 exactly.

I haven't investated what changed since that version but that caused the break.  But all my above comments still stand, there's a mess of compatibility issues here long term.

[2021-12-19 10:18] clockworkgr commented on #152
Starport v0.18.4  and newer pulls in vue template >= 0.1.54 which no longer uses node-sass so it's really surprising to see node-sass issues as it shouldn't be there at all.

Were you by any chance working on a chain repo  that was originally scaffolded with an older version of starport?

[2021-12-20 10:51] marinhoarthur commented on #152
@whatzaruckus we totally agree that our dependencies stack could be simpler. We've simplified a little bit on `v0.1.54` and for our next major we're taking this improvement as a priority.

---

Right now we support node v16 and  plan to support v17 and beyond with our next major. Anything earlier than that is not recommended.

[2021-12-20 10:53] marinhoarthur commented on #152
@batphonghan as I'm also running on a M1, I suggest you to stay somewhere within node v16. Not only due to our repo but also overall npm/node stuff.

[2021-12-20 10:53] #152 closed, assigned to nobody

[2022-01-12 11:29] fadeev opened #162 "Token send component: change icon"
Current one:

<img width="397" alt="Screenshot 2022-01-12 at 14 28 12" src="https://user-images.githubusercontent.com/332151/149132145-f5761fc9-2eb9-42b5-8049-96b9105e1603.png">

In Figma:

<img width="446" alt="Screenshot 2022-01-12 at 14 28 38" src="https://user-images.githubusercontent.com/332151/149132172-12aa543d-18a3-44fb-b6a5-1fe1f579ff61.png">

[2022-01-12 11:31] fadeev opened #163 "Navbar: click outside of the dropdown to close"
Clicking outside of the dropdown should close the dropdown. It's rather important since we don't have a way to close the dropdown right now.

[2022-01-12 11:42] fadeev opened #164 "Fix subscriptions in Vuex"
Change:

[code]

To:

[code]

Both in standard Vuex modules as well as in the generated code.

https://github.com/tendermint/starport/blob/6edbc99ff58d7e8c18a2eb2671fd63feebb1d976/starport/pkg/cosmosgen/templates/vuex/store/index.ts.tpl

[2022-01-14 12:38] marinhoarthur commented on #75
update:

- can be solved by adjusting [this if](https://github.com/tendermint/vue/blob/c2d6d4fa6ee7b738342b30d5848dae6a88dcab85/packages/vue/src/components/SpTransferList/SpTransferList.vue#L256-L264) and others alike but IMO let's use next major for that (i.e. solve using next implementation)

cc @Matthews3301 let's be aware of this behavior while refactoring the tx list

[2022-01-14 12:39] marinhoarthur commented on #91
update:

- will be closed once next major is published

[2022-01-14 12:40] marinhoarthur commented on #151
update:

- will be closed once next major is published

[2022-01-14 12:40] marinhoarthur commented on #144
update:

- will be closed once next major is published

[2022-01-14 12:40] marinhoarthur commented on #154
update:

- will be closed once next major is published

[2022-01-17 12:17] #136 closed, assigned to Matthews3301

[2022-01-18 11:31] marinhoarthur opened #170 "put code:format inside CD pipe"
Let's put code:format somewhere in our CD pipeline so to always merge "uniform" code.

[2022-01-21 21:38] #137 closed, assigned to Matthews3301

[2022-01-21 21:38] #138 closed, assigned to marinhoarthur

[2022-01-24 14:15] jhlq opened #176 "Found a typo in SpCard.vue"
https://github.com/tendermint/vue/blob/8592c94e43592b17c7367606ace161d80a9fff74/packages/vue/src/components/SpCard/SpCard.vue#L30

Says reequired

[2022-02-02 14:19] marinhoarthur commented on #140
#182

[2022-02-02 14:19] #140 closed, assigned to marinhoarthur

[2022-02-02 14:20] marinhoarthur commented on #83
update:

   - closed once next major is published

[2022-02-16 17:17] #139 closed, assigned to mihailmarcu

[2022-02-16 17:17] #91 closed, assigned to marinhoarthur, clockworkgr

[2022-02-17 09:08] fadeev opened #199 "Remove the SpCrud component from the default template"
SpCrud should be added by users, if they need this component and after the scaffold a corresponding model using `starport s list...`.

https://github.com/tendermint/vue/blob/c2822369d949de24163a9aef4e4a0214873b8b78/packages/template/src/views/Data.vue#L2

[2022-02-17 09:42] fadeev opened #200 "feat(ui): add a back button and a title to a submenu (navbar/dropdown)"
What we currently have:

<img width="798" alt="Screenshot 2022-02-17 at 12 39 54" src="https://user-images.githubusercontent.com/332151/154448353-994c1ebd-5818-4622-a0ae-b5b77af073d1.png">

There is no way to go back.

Notice the back arrow and a title.

<img width="535" alt="Screenshot 2022-02-17 at 12 41 16" src="https://user-images.githubusercontent.com/332151/154448579-692b1462-7091-4e25-96b4-

[2022-02-17 10:51] fadeev opened #201 "fix:`item-name` only works if capitalised (crud)"
This works:

[code]

This doesn't:

[code]

[2022-02-17 10:52] fadeev commented on #201
The prop shouldn't be case-sensitive.

[2022-02-17 10:55] fadeev opened #202 "fix: button component always says `post` (crud)"
[code]

<img width="1309" alt="Screenshot 2022-02-17 at 13 54 33" src="https://user-images.githubusercontent.com/332151/154463797-0f5baf4a-7aa8-48ae-93de-f4785bb19a19.png">

[2022-02-17 11:24] fadeev opened #203 "fix(ui): disable the button (crud)"
The "Create XXXXX" button should be disabled unless a user has signed in with Keplr and they have an account on-chain. Similarly to how the token transfer component works.

[2022-02-17 11:33] fadeev opened #204 "fix(ui): loading state shows up when switching between tabs (assets)"
To reproduce:

* sign in with an account
* click on the "Data" tab
* click on the "Portfolio" tab

<img width="1323" alt="Screenshot 2022-02-17 at 14 32 00" src="https://user-images.githubusercontent.com/332151/154473044-5d0b0776-074b-4218-9c19-6b1e3bc6e876.png">

[2022-02-17 11:38] fadeev opened #205 "fix(ui): improve the styling of inputs and text labels (crud)"
Modify styles of inputs and text labels.

Current:

<img width="1419" alt="Screenshot 2022-02-17 at 14 36 07" src="https://user-images.githubusercontent.com/332151/154473648-cb262c17-aafb-462d-9f30-5ec73861a5e8.png">

Should be:

![Edit](https://user-images.githubusercontent.com/332151/154473810-d6250555-4264-4a24-9873-14e522362981.jpg)

[2022-02-17 11:43] fadeev opened #206 "fix(ui): improve vertical spacing between elements (token transfer)"
Currently:

<img width="484" alt="Screenshot 2022-02-17 at 14 41 02" src="https://user-images.githubusercontent.com/332151/154474537-1e8e661d-39d6-4f84-9003-1ea799356abe.png">

Should be:

<img width="484" alt="Screenshot 2022-02-17 at 14 41 18" src="https://user-images.githubusercontent.com/332151/154474556-5b5425c6-1030-4618-92e7-9a93a7eb7857.png">

Please, ignore the cross icon on the right for

[2022-02-17 12:29] fadeev commented on #199
We can do something like this:

[code]

[2022-02-17 13:32] #199 closed, assigned to mihailmarcu

[2022-02-17 15:12] #176 closed, assigned to nobody

[2022-02-17 15:12] #154 closed, assigned to nobody

[2022-02-17 15:12] #151 closed, assigned to nobody

[2022-02-17 15:13] #146 closed, assigned to nobody

[2022-02-17 15:13] #144 closed, assigned to nobody

[2022-02-17 15:13] #75 closed, assigned to marinhoarthur, clockworkgr

[2022-02-18 08:18] fadeev opened #212 "docs: add a readme"
Add a temporary readme that briefly describes what goes on in this repo.

[2022-02-19 09:27] fadeev opened #215 "fix(ui): search bar is misaligned (assets list)"
Currently:

<img width="651" alt="Screenshot 2022-02-19 at 12 25 19" src="https://user-images.githubusercontent.com/332151/154795061-0633bc2d-d373-4ae5-b763-0060829df279.png">

<img width="651" alt="Screenshot 2022-02-19 at 12 23 32" src="https://user-images.githubusercontent.com/332151/154795066-c018462c-b6a4-4b8c-ac65-a64af1654be7.png">

Should be:

<img width="839" alt="Screenshot 2022-02-19 at

[2022-02-19 09:29] fadeev opened #216 "chore: rename `SpTx` to `SpTokenTransfer`"
`Tx` is just too generic of a name. What the component does in practice is enables users to transfer tokens.

[2022-02-19 09:39] fadeev opened #217 "chore: make the Netlify preview of the `develop` branch public"
- [ ] remove the password from the website
- [ ] add a link to the readme

[2022-02-19 10:54] marinhoarthur commented on #216
Let's use `sender` and `receiver` naming convention as well.

[2022-02-19 12:54] fadeev commented on #133
This is still relevant because the PR has been merged into the wrong branch (not `develop`).

[2022-02-19 14:03] fadeev opened #219 "fix: remove chevrons from denoms (token transfer)"
Currently:

<img width="451" alt="Screenshot 2022-02-19 at 17 00 35" src="https://user-images.githubusercontent.com/332151/154804059-cdcb6eda-6728-49c7-aea0-560a60ac1e01.png">

Should be:

<img width="446" alt="Screenshot 2022-02-19 at 17 03 44" src="https://user-images.githubusercontent.com/332151/154804092-f8de65f2-6836-4ab7-8034-45b01991a125.png">

We'll come up with a different way to replace

[2022-02-19 14:10] fadeev opened #220 "fix: item list on hover background (asset list)"
Before:

<img width="552" alt="Screenshot 2022-02-19 at 17 08 18" src="https://user-images.githubusercontent.com/332151/154804321-3e3609af-f735-411c-95fd-3ef089cdedef.png">

After:

<img width="552" alt="Screenshot 2022-02-19 at 17 08 25" src="https://user-images.githubusercontent.com/332151/154804323-6893018b-041a-4524-83bd-e1241935f2a6.png">

[2022-02-19 14:50] fadeev opened #221 "fix(ui): change colors and font weight (navbar)"
Before:

<img width="371" alt="Screenshot 2022-02-19 at 17 49 11" src="https://user-images.githubusercontent.com/332151/154805919-071cda20-4a5e-4444-b9f5-03381c8496b5.png">

After:

<img width="371" alt="Screenshot 2022-02-19 at 17 49 25" src="https://user-images.githubusercontent.com/332151/154805924-8cfe51a8-f904-4cac-8838-19c93def8b49.png">

[2022-02-19 15:04] fadeev opened #222 "fix(ui): after sending a token the list of assets is empty (token transfer)"
To reproduce:

1. Send tokens
2. Notice that after tokens were sent the token transfer component returns to the initial state (no address), but the token list is empty.

<img width="448" alt="Screenshot 2022-02-19 at 18 02 24" src="https://user-images.githubusercontent.com/332151/154806464-63bde718-b820-46ff-bd6a-d7e7ca02866e.png">

It should add the staking token to the list by default.

[2022-02-19 15:39] fadeev opened #223 "feat: make links customisable (navbar/dropdown)"
Right now items in the dropdown are not links. We need to make the dropdown customizable by our users.

<img width="420" alt="Screenshot 2022-02-19 at 18 37 24" src="https://user-images.githubusercontent.com/332151/154807755-6bae3a73-5035-451e-b0d2-506858efce5b.png">

Before implementing, propose the solution below. Probably, it's going to be a prop that a dev can set and we have it set by default

[2022-02-20 11:14] fadeev opened #224 "docs: document the release process"
We need a short doc that outlines the process of releasing a new version on npm.

[2022-02-21 11:36] #212 closed, assigned to fadeev

[2022-02-21 17:29] mikeeus opened #225 "Assets components stuck on loading animation when connected with Kepler without an account"
Steps to reproduce:
1. connect Kepler
2. click on "Data" to navigate to that route
3. then "Portfolio" to navigate back.

The assets component is stuck on loading animation.

![image](https://user-images.githubusercontent.com/16954412/155002811-c660a4bd-7d9e-42b5-92ef-49c1df969535.png)

[2022-02-21 19:35] fadeev commented on #225
It's essentially this issue: https://github.com/tendermint/vue/issues/204

@mikeeus the loading animation is a UI bug, but your account doesn't have tokens, hence the token transfer component is disabled. Use the faucet to send tokens to this address and please let us know if it works 🙏

[2022-02-21 19:58] mikeeus commented on #225
@fadeev Sending tokens to the address with the faucet worked!
So basically an account is "created" once a transaction referencing that account address is posted to the blockchain?

And should I close this issue because 204 addresses the ui bug?

[2022-02-21 20:05] fadeev commented on #225
This is exactly how it works.

[2022-02-21 20:06] fadeev commented on #225
Closing, because it's a duplicate of #204.

[2022-02-21 20:06] #225 closed, assigned to nobody

[2022-02-22 09:15] #133 closed, assigned to fadeev

[2022-02-22 11:06] mihailmarcu commented on #204
@fadeev, @marinhoarthur,
Is this issue related to what we discussed regarding reloading components when changing a router? I wonder if solution can be in one task. Wdyt?

[2022-02-22 12:30] marinhoarthur opened #232 "feat: implement auto sign-in mechanism"
Right now the user must connect to Keplr on every page load. Let's come up with a way to remove this need without damaging UX

[2022-02-22 12:33] marinhoarthur opened #233 "feat: implement a configuration file"
Let's implement a file that packs environment and metadata stuff.

e.g.:
- starport.json
- starport.config.ts

[2022-02-22 13:53] marinhoarthur opened #235 "fix(ui): remove acc-number-0 warning after signing-out"

[2022-02-22 14:33] #235 closed, assigned to nobody

[2022-02-22 15:29] #205 closed, assigned to mihailmarcu

[2022-02-22 15:31] #206 closed, assigned to mihailmarcu

[2022-02-22 15:34] #203 closed, assigned to mihailmarcu

[2022-02-22 15:44] #202 closed, assigned to mihailmarcu

[2022-02-22 16:04] #200 closed, assigned to mihailmarcu

[2022-02-22 16:33] #201 closed, assigned to mihailmarcu

[2022-02-23 00:17] mikeeus opened #238 "Allow changing SpNavbar logo"
Currently the navbar logo is hard coded. Ideally we would be able to override it with a `logo` prop.

![image](https://user-images.githubusercontent.com/16954412/155241711-704029cb-dad5-483c-b961-b400eaaa0f20.png)

[2022-02-23 07:56] fadeev commented on #232
Sounds good! The behavior can be the same as in Emeris: you have to click the button to sign in for the first time, upon further page reloads the app signs in automatically (without prompting the user).

[2022-02-23 09:16] fadeev opened #241 "feat: provide useful info in the modal, why Keplr can't connect"
![unknown](https://user-images.githubusercontent.com/332151/155290324-842211f4-de8a-4149-a7f0-6a6fe5cae40f.png)

Adding more info here will users help us debug issues.

[2022-02-23 09:37] fadeev opened #242 "fix(ui): style in the token list (modal)"
Before:

<img width="1359" alt="Screenshot 2022-02-23 at 12 36 11" src="https://user-images.githubusercontent.com/332151/155293611-8871963b-f54d-4ad9-a8f0-57d7468639c9.png">

After:

<img width="1209" alt="Screenshot 2022-02-23 at 12 35 56" src="https://user-images.githubusercontent.com/332151/155293628-c6f70721-c1b4-4f4e-ad2d-cbba5023c449.png">

[2022-02-23 10:25] fadeev opened #243 "fix: Keplr cannot connect"
![unknown1](https://user-images.githubusercontent.com/332151/155301128-faf1b9f7-f7af-469a-ab76-8a30e6c0d764.png)

![unknown](https://user-images.githubusercontent.com/332151/155301145-6d138a51-8b17-4bff-8686-d82a9cae7f94.png)

![123123](https://user-images.githubusercontent.com/332151/155301159-3da4d17b-c424-4d90-9fa9-86cd403f431f.png)

![zxczc](https://user-images.githubusercontent.com/332151/155

[2022-02-23 11:06] #219 closed, assigned to mihailmarcu

[2022-02-23 11:07] marinhoarthur opened #244 "feat: implement enum ui state"
Like in SpTx, let's do it on:

- SpAssets
- SpTxList

[2022-02-23 11:10] marinhoarthur commented on #204
For now let's fix skeleton-forever. Soon enough we will be refactoring overall fetching of data.

[2022-02-23 11:15] marinhoarthur opened #245 "feat: let's display current version"
Let's display current `@starport/vue`  & `@starport/vuex`  versions akin to Emeris =

![image](https://user-images.githubusercontent.com/3693700/155308710-1795e0cf-d229-438f-9a33-e85076737593.png)

[2022-02-23 11:36] fadeev opened #246 "fix(ui): style the "Connect wallet" button (navbar)"
Before:

<img width="747" alt="Screenshot 2022-02-23 at 14 35 59" src="https://user-images.githubusercontent.com/332151/155312018-4696fd8b-76f0-4c78-b3d6-db4c55f05763.png">

After:

<img width="747" alt="Screenshot 2022-02-23 at 14 35 21" src="https://user-images.githubusercontent.com/332151/155312037-7d91a24a-db8d-40c9-bebd-5ba19e3873d1.png">

[2022-02-23 12:44] fadeev opened #247 "fix(ui): style the account button on hover and click (navbar)"
Before:

<img width="599" alt="Screenshot 2022-02-23 at 15 43 26" src="https://user-images.githubusercontent.com/332151/155321765-d605a996-0db9-4ccb-b93e-4cf22b6cb21e.png">

After:

<img width="502" alt="Screenshot 2022-02-23 at 15 42 33" src="https://user-images.githubusercontent.com/332151/155321792-b727412e-8ffc-4c19-b6c0-498cc09e101e.png">

[2022-02-23 14:15] mikeeus opened #248 "fix(ui): wallet settings has no way to return to overview"
To reproduce:
- Connect wallet
- Open wallet
- Click on "Settings"
- There's no way to back to overview. And reopening the wallet shows the settings.

![image](https://user-images.githubusercontent.com/16954412/155336384-548249df-9d8e-423c-b1a7-fd04269e50eb.png)

![image](https://user-images.githubusercontent.com/16954412/155336174-a33b3997-d596-41ea-90f0-b60284c7495d.png)

[2022-02-23 14:19] #204 closed, assigned to mihailmarcu

[2022-02-23 14:23] mihailmarcu commented on #248
Hi @mikeeus,
Thanks for your time to explore around the development. We have already fixed and are preparing a patch for.

If you don't mind, I'll close the issue.

Duplicates #200

[2022-02-23 14:23] #248 closed, assigned to mihailmarcu

[2022-02-28 18:36] #215 closed, assigned to mihailmarcu

[2022-02-28 18:37] #145 closed, assigned to nobody

[2022-03-01 12:46] marinhoarthur opened #251 "fix(ui): transactions list unable to display custom types"
- Scaffold a custom type
- Send it
- SpTxList crashes

[2022-03-08 13:42] mihailmarcu commented on #243
@fadeev as mentioned in our meeting, I am coming with an update here:
— The scenarios that I was able to reproduce are the following: if we are trying to connect to the Keplr and there is not a single account in the wallet we get this error. We do not display the corresponding message that will help to understand what is the reason. I know that we have several scenarios when this error occurs, so

[2022-03-08 23:35] #221 closed, assigned to mihailmarcu

[2022-03-09 18:30] #251 closed, assigned to marinhoarthur

[2022-03-09 18:36] #238 closed, assigned to nobody

[2022-03-09 18:37] #216 closed, assigned to mihailmarcu

[2022-03-11 14:24] mihailmarcu commented on #223
Hey @fadee, @marinhoarthur,
As you already know, our component is not completely abstract and scalable to be customizable and reusable. I found a solution, and as already discussed, I will initiate a discussion about this solution.

<img width="541" alt="App vue" src="https://user-images.githubusercontent.com/56769586/157885227-cff06cbc-ba93-484f-ac40-af5a40d7a605.png">

<img width="520" alt="SpNa

[2022-03-17 06:29] fadeev opened #261 "chore: add JoseRFelix to CODEOWNERS"
Feel free to add yourself @JoseRFelix 🙂

[2022-03-17 13:28] #261 closed, assigned to JoseRFelix

[2022-03-22 13:01] #246 closed, assigned to mihailmarcu

[2022-03-25 13:52] #242 closed, assigned to mihailmarcu

[2022-04-29 05:51] atharva3010 opened #268 "refactor (components): components used to render svg can be functional components."
Hello everyone 👋

I was looking at the components under the directory `/packages/vue` and found that there are SFCs that only render an SVG icon.

Some examples of this are:

- [SpChevronDown](https://github.com/ignite-hq/web/blob/develop/packages/vue/src/components/SpChevronDown/SpChevronDown.vue)
- [SpChevronRight](https://github.com/ignite-hq/web/blob/develop/packages/vue/src/components/SpChevr

[2022-04-29 13:21] marinhoarthur opened #269 "bug: change ibc params to snake_case"
E.g.: `sourcePort` -> `source_port`

https://github.com/ignite-hq/web/blob/b238de5b74b120aa28893565b09520aa71001114/packages/vue/src/components/SpTokenTransfer/SpTokenTransfer.vue#L439

[2022-05-02 11:42] marinhoarthur opened #270 "fix: migrate from lerna to npm workspaces"

[2022-05-21 03:52] akarales commented on #243
connect when there is account, still get an error.

[2022-05-21 03:54] akarales commented on #243
Found an issue connecting the kepl wallet. Seems like localhost should be a url perhaps. WebSocket connection to 'ws://localhost:26657/websocket' failed:
(anonymous) @ vendor.71c4af46.js:83
vendor.71c4af46.js:83 Error: Client-js:WS Could not connect to websocket.
    at SPClient.onErrorWS (vendor.71c4af46.js:83:9904)
    at WebSocket._handleError (vendor.71c4af46.js:83:1430)
onErrorWS @ vendor.71c

[2022-05-31 18:38] marinhoarthur opened #271 "bug: `Super expression...`"
![image](https://user-images.githubusercontent.com/3693700/171261267-c972b202-ba96-4848-b82e-56ba0ac95c00.png)

[2022-06-03 00:45] avenbreaks commented on #243
same problem eror connect using kepler

![Screenshot_20220603_074450](https://user-images.githubusercontent.com/93043826/171763108-bd0b2fcf-1a18-4470-b8f8-3dfcab5b51bb.png)

[2022-06-23 15:26] MariaPaypoint commented on #243
I have found a workaround to this problem (if it's cause is starting ignite not in localhost): it's need to set environment variables.

This is my example of yaml to start ignite in Kubernetes:
[code]

P.S. I found a hint here https://github.com/ignite/cli/commit/09edced5513445b635775b533701217a3e2126eb (probably later I will need to setup VITE_* env variables).

[2022-10-04 10:32] amitkarpe commented on #243
Hi,

Using env variable I was able to solve this problem:
[code]

For more info check:
https://github.com/ignite/cli/blob/develop/.gitpod.yml

[2022-10-08 01:06] avenbreaks commented on #243
thankyou

[2022-10-14 15:47] scottcarterco opened #281 "Vue Template Grammar Edit"
In the token transfer file, the error message on line 108 currently states:
`Your tokens could not be transferred and will remain on your wallet.`

The edit should instead read:
`Your tokens could not be transferred and will remain in your wallet.`

https://github.com/ignite/web/blob/fe8b2e1fde516cb152ab2fbc0e7b5e5b842122bc/packages/vue/src/components/SpTokenTransfer/SpTokenTransfer.vue#L108